*{
	padding:0px;
	margin:0px;
}

body{
	background-color:#fafafa;
	padding:15px;
}

header{
	padding:12px;
	background-color:#00ff00;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

header h3{
	text-align:right;
}

header h2{
	text-align:center;
}

section{
	padding:20px;
	background-color:#ffffff;
	min-height: 250px;	
}

nav{
	padding:12px;
	background-color:#ccffcc;		
}

nav a{
	text-decoration:none;
	display:inline-block;
	background-color:#aaffaa;
	padding:5px;
	margin-right:2px;
}